.env
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.DS_Store
output/*
!output/.gitkeep
jobs/*.yaml
jobs/*.yml
!jobs/samples/
jobs/processed/*
!jobs/processed/.gitkeep
jobs/*.error.txt
connections/connections.yaml
*.aux
*.log
*.fls
*.fdb_latexmk
*.xdv
*.out
*.synctex.gz
